<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rerun failed tests Suite">

    <listeners>
        <listener class-name="RetryLogicInTestNG.TestAnalyzer"></listener>

    </listeners>
    <test name="Rerun Failed tests">
        <classes>
            <class name="RetryLogicInTestNG.RerunFailedTestsUsingTestNG"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->